.footer {
  position: relative;
  padding-top: 170px;
  min-height: 1267px;
  color: $white;
  background-color: $bg-color-footer;
  background-image: url(../img/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:before {
    @include pseudo;
    top: -10px;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: url(../img/decor-border.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    transform: rotate(180deg);
    @include breakpoint($xsmall) {
      height: 100px;
    }
    @include breakpoint($small) {
      height: 141px;
    }
  }
}
